.banner img {
  max-height: 300px;
  object-fit: cover;
}

.banner-img {
  object-fit: cover;
  height: 400px; /* atau bebas mau 300px, 500px */
  width: 100%;
}

.search-bar-container {
  position: relative;
  width: 50%;
  margin: -25px auto 50px;
  display: flex;
  align-items: center;
}

.search-bar-container input {
  padding-right: 50px;
}

.search-button {
  position: absolute;
  right: 5px;
  border: none;
}

.red-box {
  width: 100%;
  padding-top: 100%;
  background-color: red;
  border-radius: 15px;
}

/* Menambahkan overflow: hidden pada .card untuk menyembunyikan bagian gambar yang keluar */
.card {
  overflow: hidden; /* Menyembunyikan bagian gambar yang keluar */
  position: relative; /* Pastikan card tetap dalam posisi relatif */
}

/* Efek hover untuk gambar buku */
.card:hover {
  transform: scale(1.05); /* Membesar sedikit */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tambah shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Halus transisinya */
}

/* Efek hover untuk gambar buku */
.card-img-top {
  transition: transform 0.3s ease; /* Transisi halus saat hover */
}

.card:hover .card-img-top {
  transform: scale(1.1); /* Gambar membesar sedikit saat hover */
}

/* Efek hover untuk teks judul */
.card-body:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Memberikan warna latar saat hover */
}
